.form {
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  background-color: var(--color-bg-dark);
  border-top: 1px solid var(--color-accent);
}

.input {
  flex: 1 0 auto;
  font-size: 1.2rem;
  padding-left: 5px;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button {
  font-size: 1.2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--color-accent);
  color: white;
}

.button:hover {
  opacity: 0.5;
}
